<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>

<body>
  <h1>Erro no Scraping do Open Foods Fact</h1>
  <p>
    Houve o seguinte erro ao executar o Scraping:
    <%= @message %>
  </p>
</body>
</html>